<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aligentweb" translate="label" sortOrder="10">
            <label>Aligent</label>
        </tab>
        <section id="livechat" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Chat Configuration</label>
            <tab>aligentweb</tab>
            <resource>Aligentweb_Chat::chat_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment><![CDATA[Activate or Deactivate chat module based on the need]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="license" translate="label" type="password" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License</label>
                    <comment><![CDATA[Chat API License Key]]></comment>
                    <validate>required-entry validate-length minimum-length-10 maximum-length-32 validate-no-html-tags</validate>
                </field>
                <field id="groups" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Chat Groups</label>
                    <comment><![CDATA[Allowed chat groups]]></comment>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
                <field id="params" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Chat Parameters</label>
                    <comment><![CDATA[Required chat parameters]]></comment>
                    <validate>validate-no-html-tags</validate>
                </field>
            </group>
        </section>
    </system>
</config>