<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aligentweb" translate="label" sortOrder="10">
            <label>Aligent</label>
        </tab>
        <section id="livechat" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Chat Configuration</label>
            <tab>aligentweb</tab>
            <resource>Aligentweb_Chat::chat_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="license" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>License</label>
                    <comment><![CDATA[Chat API License Key]]></comment>
                </field>
                <field id="groups" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Chat Groups</label>
                    <comment><![CDATA[Allowed chat groups]]></comment>
                </field>
                <field id="params" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Chat Parameters</label>
                    <comment><![CDATA[Required chat parameters]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>